{
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "editorconfig": true,
  "singleAttributePerLine": true,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "strict"
}
