:root {
  /* LAYOUT: Container Width Sizes:  */
  --max-width: 110rem;

  /* TYPOGRAPHY: Font Families: */
  --font-mono: 'Cascadia Mono', 'Segoe UI Mono', 'Source Code Pro', monospace;
  --font-display: 'Helvetica', sans-serif;
  --font-serif: 'Source Serif Pro', serif;

  /* COLORS BRAND: LIGHT THEME */
  --sdd-purple: #644cfc;
  --sdd-orange: #fca249;
  --sdd-pink: #ff9398;
  --sdd-black: #242424;
  --sdd-gray-300: #4b4f58;
  --sdd-gray-200: #9ca0ab;
  --sdd-gray-100: #d3d5d9;
  --sdd-white: #f7f7f7;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* COLORS BRAND: DARK THEME */
    --sdd-purple: #644cfc;
    --sdd-orange: #fca249;
    --sdd-pink: #ff9398;
    --sdd-black: #242424;
    --sdd-gray-300: #4b4f58;
    --sdd-gray-200: #9ca0ab;
    --sdd-gray-100: #d3d5d9;
    --sdd-white: #f7f7f7;
  }
}
